server:
  port: 8083

spring:
  application:
    name: notification-service

  cloud:
    config:
      enabled: true
      import-check:
        enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5435/notificationservice
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false
    baseline-on-migrate: true
    baseline-version: 1

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

# Colas
ecoride:
  rabbitmq:
    queues:
      trip-completed: trip.completed.queue
      notification-reservationConfirmed: notification.reservation.confirmed.queue
      notification-reservationCancelled: notification.reservation.cancelled.queue

eureka:
  client:
    enabled: true
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus
  metrics:
    enable:
      all: true
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.http.converter: DEBUG
